body {
  background-color: #0f172a;
  color: #e5e7eb;
  font-family: Verdana, sans-serif;
}

h1, h2 {
  color: #93c5fd;
}

img {
  border: 2px solid white;
  margin: 10px 0;
}

iframe {
  margin: 10px 0;
}
